<p id="notice"><%= notice %></p>

<p>
  <strong>Shopify:</strong>
  <%= @collection.shopify_id %>
</p>

<p>
  <strong>Shopify type:</strong>
  <%= @collection.shopify_type %>
</p>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
