<div class="page-header">
  <h1><%= @shop.name %> <small><%= @shop.uid %></small></h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shop.collections.each do |collection| %>
      <% next if collection.generated? %>
      <tr>
        <td><%= collection.title %></td>
        <td>
          <% if collection.sortable? %>
            <%= button_to 'Remove', send("shop_" + collection.type.underscore + "_path", @shop, collection), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= render 'collections/form_create',  { collection: collection } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>